* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: #ebc1c1;
  color: rgb(45, 21, 21);
  font-size: 1.3em;
}
h1 {
  text-align: center;
  margin-block: 2em;
  height: 1.7em;
  padding-block: 0.35em;
  background-color: #581212;
  color: #ebc1c1;
}
table {
  margin-inline: auto;
  margin-block: 4em;
  border: 4px solid rgb(75, 52, 52);
}
td {
  padding: 1em;
}
th {
  padding: 0.9em;
  font-weight: 700;
}
button {
  background-color: #581212;
  color: aliceblue;
  font-size: 1.1em;
  padding-inline: 1.5em;
  margin-left: 40vw;
  padding-block: 0.5em;
  border: 3px solid #8b7171;
  border-radius: 20px;
}
button:hover {
  background-color: #ebc1c1;
  color: rgb(45, 21, 21);
}

td:hover {
  text-decoration: underline;
}
